.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

#SearchBox {
  width: 287px;
  padding: .88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 2.22rem;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

#SearchBox:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 7.5rem;
  padding: .77rem 0;
  margin: 0 0.5rem;
  border-radius: 54px;
  background-color: #02187a;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchBarButtons {
  display: flex;
}

.SearchButton:hover {
  background-color: rgba(108, 65, 233, .7);
}